<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_SMTP>
            <version>0.1.0</version>
            <url><![CDATA[https://github.com/adamkarnowka/magento-smtp-relay/]]></url>
        </Creativestyle_SMTP>
    </modules>
    <global>
        <models>
            <creativestyle_smtp>
                <class>Creativestyle_SMTP_Model</class>
                <resourceModel>creativestyle_smtp_resource</resourceModel>
            </creativestyle_smtp>
            <creativestyle_smtp_resource>
                <class>Creativestyle_SMTP_Model_Resource</class>
            </creativestyle_smtp_resource>
            <core>
                <rewrite>
                    <email_template>Creativestyle_SMTP_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <creativestyle_smtp>
                <class>Creativestyle_SMTP_Block</class>
            </creativestyle_smtp>
        </blocks>
        <helpers>
            <creativestyle_smtp>
                <class>Creativestyle_SMTP_Helper</class>
            </creativestyle_smtp>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <creativestyle_smtp>
                    <files>
                        <default>Creativestyle_smtp.csv</default>
                    </files>
                </creativestyle_smtp>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <creativestyle_smtp>
                                            <title>SMTP settings</title>
                                        </creativestyle_smtp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <menu>
        <system translate="title" module="creativestyle_smtp">
                <children>
                    <smtp_settings translate="title" module="creativestyle_smtp">
                        <title>SMTP Settings</title>
                        <sort_order>5</sort_order>
                        <action>adminhtml/system_config/edit/section/optimisewebcookienotice</action>
                        <!--<depends>
                            <config>optimisewebcookienotice/menu/cookienotice_enabled</config>
                        </depends>-->
                    </smtp_settings>
                </children>
        <!--        <depends>
                    <config>optimisewebcookienotice/menu/optimiseweball_enabled</config>
                </depends> -->
        </system>
    </menu>
    <default>
        <creativestyle_smtp>
            <settings>
                <headers><![CDATA[a:0:{}]]></headers>
            </settings>
        </creativestyle_smtp>
    </default>
</config>